{{ form_start(form) }}

    {{ form_errors(form) }}


    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        <span style="color: red;">{{ form_errors(form.title) }}</span>
    </div>
    <div class="form-group">
        <span style="color: red;">{{ form_errors(form.body) }}</span>
        {{ form_label(form.body) }}
        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.user) }}
        {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group columns-6">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags, {'attr': {'class': 'form-control le-select2'}}) }}
    </div>
    <div class="form-group columns-6">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
