{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Postttt</h1>

    {{ include('post_backoffice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_backoffice_index') }}">back to list</a>

    {{ include('post_backoffice/_delete_form.html.twig') }}
{% endblock %}
