{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_backoffice_index') }}">back to list</a>

    <a href="{{ path('app_post_backoffice_edit', {'id': post.id}) }}">edit</a>

    {{ include('post_backoffice/_delete_form.html.twig') }}
{% endblock %}
