{% extends 'base.html.twig' %}

{% block title %}
	Posts
{% endblock %}

{% block body %}
	<div>
		<ul class="grid space-y-4 p-4">
			{% for post in posts %}
				{# <pre>
				{{ dump(post) }}
			</pre> #}
				<li>
					<a href="{{ path("app_post", {"slug": post.slug}) }}">
						{{ post.title }}
						,
						{{ post.user.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="p-4">
			Total:
			{{ posts|length }}
		</div>
	</div>
{% endblock %}
