{% extends "base.html.twig" %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}
	<div class="p-4">
		<h1 class="text-xl font-bold mb-4">
			{{ post.title }}
		</h1>
		<p class="mb-4">
			{{ post.body }}
		</p>
		<ul class="flex gap-4">
			{% for tag in post.tags %}
				<li class="inline-block bg-indigo-200 px-2 py-0.5 text-xs font-semibold text-indigo-700 mr-2 rounded-sm">
					{{ tag.name }}
				</li>
			{% endfor %}
		</ul>
	</div>
	{{ form_start(form) }}
	<div>
		{{ form_widget(form.title) }}
	</div>
	<button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-sm">
		Enregistrer
	</button>
	{{ form_end(form) }}
{% endblock %}
