<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>		
			<script>
// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.le-select2').select2();
});			
			
			</script>
{% endblock %}
	</head>
	<body>
		<nav class="p-4 flex justify-end bg-indigo-700 text-white gap-4">
				<a href="{{ path("app_home") }}">
					Accueil
				</a>
			{% if app.user %}
				<a href="{{ path("app_admin") }}">
					Admin
				</a>
				<a href="{{ path("app_logout") }}">
					Logout
				</a>
			{% else %}
				<a href="{{ path("app_login") }}">
					Login
				</a>
			{% endif %}
		</nav>
		<main class="p-4">
			{% block body %}
			{% endblock %}
		</main>
	</body>
</html>
